lightning-modal-header {
    display: none !important;
}

lightning-modal-body.modal-schedule-call {
    max-width: 470px;
    min-width: 470px;
    width: 95%;
    margin: 0 auto;
}

.modal-schedule-call form {
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100%;
    max-width: inherit;
    border: 0;
    padding: 0 8px;
}

.modal-schedule-call form .form-content {
    padding: 0;
}

.modal-schedule-call form .form-header {
    padding: 24px 0 !important;
}

.modal-schedule-call form .form-header img {
    position: relative !important;
    top: inherit !important;
    left: inherit !important;
    margin-bottom: 16px !important;
}

.modal-schedule-call form .form-header h3 {
    font-size: 24px !important;
}

.modal-schedule-call .legal-description {
    font-size: 14px;
    color: #a39fb2;
    padding: 24px 0;
    padding-top: 0;
}

.modal-schedule-call .btn-orange {
    display: block;
    padding: 12px 16px;
    font-size: 16px;
    color: #fff !important;
    border-radius: 46px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(#ee843f, #ff8b41);
    text-decoration: none !important;
    transition: background 0.35s cubic-bezier(0.3, 0.1, 0.3, 1);
    transition: background 0.35s cubic-bezier(0.3, 0.1, 0.3, 1), -webkit-transform 0.35s cubic-bezier(0.3, 0.1, 0.3, 1);
    margin: 24px auto;
}

.modal-schedule-call .btn-orange.btn-disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.modal-schedule-call .btn-orange:hover {
    background: linear-gradient(#ff8b41, #ff8b41);
}